# Testing flag files
debug 
zshnip-local
animation/animation.json
animation/youtube-credentials.json
animation/youtube-secrets.json
animation/animation-locations.generated
presentation.mp4
animation/gallery-animations/*.json
